@font-face {
    font-family: 'Playwrite HR Lijeva';
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: local(''), url('./playwrite.woff2') format('woff2');
}
.cool-text{
    font-family: 'Playwrite HR Lijeva';
}